<!-- Template source: https://mdbootstrap.com/docs/standard/extended/login/ -->
<!DOCTYPE html>
<html lang="en">
<% var rootDir = process.cwd() %>

<head>
    <%- include(rootDir + '/views/partials/head'); %>
    <style>
        label {
            font-weight: bold;
        }
    </style>
</head>

<body style="padding-top: 80px;">
    <!-- Navbar -->
    <%- include(rootDir + '/views/partials/navbar'); %>

    <div class="text-center">
        <h1><%= newProblem ? "Create New Problem" : "Editing ${title}" %></h1>
    </div>

    <!-- Creation Form -->
    <div class="col-4 mx-auto mt-3">
        <form class="needs-validation" novalidate action=<%- newProblem ? "/problem/create" : `/problem/edit/${probID}` %> method="POST">
            <div class="form-group pb-2">
                <label for="title">Title</label>
                <input type="text" class="form-control" id="title" name="title" 
                <%- !newProblem ? `value="${title}"` : 'placeholder="Problem Title"' %>>
            </div>
            <div class="form-group pb-2">
                <label for="description">Description</label>
                <textarea class="form-control" id="description" name="description" rows="5" 
                <%- !newProblem ? `>${description}` : 'placeholder="Problem description">' %></textarea>
            </div>
            <div class="form-group pb-2">
                <label for="inputDesc">Description of Input</label>
                <textarea class="form-control" id="inputDesc" name="inputDesc" rows="2" 
                <%- !newProblem ? `>${inputDesc}` : 'placeholder="Input description">' %></textarea>
            </div>
            <div class="form-group pb-2">
                <label for="inputSample">Input Sample</label>
                <textarea class="form-control" id="inputSample" name="inputSample" rows="2" 
                <%- !newProblem ? `>${inputSample}` : 'placeholder="Sample input">' %></textarea>
            </div>
            <div class="form-group pb-2">
                <label for="outputDesc">Description of Output</label>
                <textarea class="form-control" id="outputDesc" name="outputDesc" rows="2" 
                <%- !newProblem ? `>${outputDesc}` : 'placeholder="Output description">' %></textarea>
            </div>
            <div class="form-group pb-2">
                <label for="outputSample">Output Sample</label>
                <textarea class="form-control" id="outputSample" name="outputSample" rows="2" 
                <%- !newProblem ? `>${outputSample}` : 'placeholder="Sample Output">' %></textarea>
            </div>
            <div class="form-group pb-4">
                <label for="solutionLink">Solution Link</label>
                <input type="text" class="form-control" id="solutionLink" name="solutionLink" aria-describedby="solutionHelp" 
                <%- !newProblem ? `value="${solutionLink}"` : 'placeholder="Solution link (ex. https://replit.com/)"' %>>
                <small id="solutionHelp" class="form-text text-muted">Must be a Replit link.</small>
            </div>
            <button type="submit" class="btn btn-primary"><%= newProblem ? "Create" : "Save" %> </button>
        </form>
    </div>

    <!-- MDB -->
    <script src="js/mdb.min.js"></script>
</body>

</html>