<!DOCTYPE html>
<% var rootDir = process.cwd() %>

<html>
  <head>
    <title>Coding Question</title>
    <%- include(rootDir + '/views/partials/head'); %>
    <link href="/css/problem-view.css" rel="stylesheet" type="text/css"/>
  </head>
<body style="padding-top: 90px">
  <!-- Navbar -->
  <%- include(rootDir + '/views/partials/navbar'); %>

  <div class="container problem-view">

      <h1><%= title %></h1>
      

      <p>Created by <%=author %> on <%=dateCreated %> <p>
      <p>
        description;
      </p>
      <div class="box">
        <h2>Input Description</h2>
        

        <p>
          <%= InputDesc %>
        </p>
      </div>
  
      <div class="box">
        <h2>Sample Input</h2>
        

        <p>
          <%= sampleInput %>
        </p>
      </div>
  
      <div class="box">
        <h2>Output Description</h2>
        

        <p>
          <%= outDesc %>
        </p>
      </div>
  
      <div class="box">
        <h2>Sample Output</h2>
        
        <p>
          <%= SampleOut %>
        <p>
      </div>
  </div>
  </body>
<html>