<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
  <%- include('../partials/head'); %>
</head>

<body>
  <!-- Navigation-->
  <%- include('../partials/navbar'); %>

  <section class="bg-light pb-5" style="padding-top: 90px">
    <div class="container">
      <div class="row">
        <div class="col-lg-8 offset-lg-2">
          <div class="row mb-2">
            <div class="col-sm-3">
              <p class="mb-0 font-weight-bold">Full Name</p>
            </div>
            <div class="col-sm-9">
              <p class="text-muted mb-0" id="full-name"><%= fullName %></p>
            </div>
          </div>
          <hr>
          <div class="row mb-2">
            <div class="col-sm-3">
              <p class="mb-0 font-weight-bold">Username</p>
            </div>
            <div class="col-sm-9">
              <p class="text-muted mb-0" id="username"><%= username %></p>
            </div>
          </div>
          <hr>
          <div class="row mb-2">
            <div class="col-sm-3">
              <p class="mb-0 font-weight-bold">Role</p>
            </div>
            <div class="col-sm-9">
              <p class="text-muted mb-0" id="role">
                <% if (roleID === 0) { %> Student <% } %>
                <% if (roleID === 1) { %> Teacher <% } %>
                <% if (roleID === 2) { %> Admin <% } %>
              </p>
            </div>
          </div>
          <hr>
          <div class="row mb-2 pb-3">
            <div class="col-sm-3">
              <p class="mb-0 font-weight-bold">School</p>
            </div>
            <div class="col-sm-9">
              <p class="text-muted mb-0" id="school"><%= school %></p>
            </div>
          </div>
          <div class="text-center mt-2">
            <div id="profile" class="col-lg-8 offset-lg-2">
              <!-- Button trigger modal -->
              <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal">
                Edit Profile
              </button>
            </div>
        </div>
      </div>
    </div>

  <!-- Modal -->
  <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Editing Profile</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <form id="edit-form" action="POST">
            <div class="form-group">
              <label for="full-name">Full Name</label>
              <input type="text" class="form-control" id="full-name-input" value="<%= fullName %>">
            </div>
            <div class="form-group">
              <label for="school">School</label>
              <input type="text" class="form-control" id="school" value="<%= school %>">
            </div>
            <div class="modal-footer">
              <button type="submit" class="btn btn-primary" data-bs-dismiss="modal">Save</button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
  </section>
</body>

